



/*  Во имя Отца и Сына и Святаго Духа. Аминь. */



:root {
    --kino-var: #e34234;
    --sizeDate-var: 1.1em;
    --alink-var: #6b6b6b;
    --blink-var: #860000;
    --fontIrmUCS-var: Irmologion;
    --font-var: Fontics;
    --fontEvng-var: Evangeliecs;
    --fontSize-H1: 1.9em;
}


@font-face {
    font-family: 'Fontics';
    font-display: auto;
    src: local('Fontics-Regular.otf'), url('https://a374ru.github.io/aprakos.ru/font/Fontics-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    /*     width:77%; */
    margin: 2em;
    padding-bottom: 133px;
    background: rgb(255, 250, 245);
    color: #4f2b00;
    font-size: 19px;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

code{
    font-size:
    xx-large;
    padding-left: 1em;
    color: #96719c;
}

h1{
    font-size:
    var(--fontSize-H1);
    text-transform: uppercase;
}

p{
    font-size:1.5em;
    padding-bottom: 2%;
}


section{
/*     grid-area: b; */
}


p::first-letter{
    color:#f65920;
}

h1::first-letter{
    color:#d62b2b;
    font-size: var(--fontSize-H1);
}

h2::first-letter{
    font-size: 1.7em;
    color:#FF9800;
    /* line-height: 2px; */
    padding-top: 22px;
}

a:link{
    color:#5c808e;
    text-decoration-line: none;
    /* list-style-type: circle; */
}
a:visited{
    color:#785c00;
    text-decoration-line: none;
    /* list-style-type: circle; */
}

a:hover{
    color: #cccccc;
}

.menu{
    grid-area: m;
    position:fixed;
    font-size: 1.3em;
}

.footer{
/*     grid-area: footer; */
}

ul{
    overflow: hidden;
    margin-left: 11px;
    
}


li{

    list-style-type:none;
    font-size: 1.3em;
    padding:1px 22px .7em 0px;
    
}


@media (max-width: 769px) {
body{
	font-size: 1em;
padding: 0px 7px 0px 17px;
    
        margin: 0;
}


	
}