/*  Во имя Отца и Сына и Святаго Духа. Аминь. */

:root {
	--kino-var: #e34234;
	--sizeDate-var: 1.1em;
	--alink-var: #6b6b6b;
	--blink-var: #860000;
	--fontIrmUCS-var: Irmologion;
	--font-var: Fontics;
	--fontEvng-var: Evangeliecs;
	--fontSize-H1: 1.9em;
}

@font-face {
	font-family: "Fontics";
	font-display: auto;
	src: local("Fontics-Regular.otf"),
		url("https://a374ru.github.io/aprakos.ru/font/Fontics-Regular.otf");
	font-weight: normal;
	font-style: normal;
}

blockquote {
	border-left: 3.2em solid #e9e2da;
	/* border-right: 3.2em solid #e9e2da; */
	padding: 0em 1em 0em 3em;
	border-radius: 20%;
}

body {
	margin: 3em;
	padding-bottom: 133px;
	background: rgb(255, 250, 245);
	color: #4f2b00;
	font-size: 19px;
}

.markdown-body {
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 77%;
}

#navi {
	display: flex;
	flex-direction: row-reverse;
	position: sticky;
	text-align: right;
	top: 0;
	font-size: 3em;

	background: linear-gradient(92deg, #3f5efb00 89%, #fffaf5 94%);
}

code {
	font-size: xx-large;
	padding: 0rem 1rem 0rem 1rem;
	color: #96719c;
}

h1 {
	font-size: var(--fontSize-H1);
	text-transform: uppercase;
	width: 900px;
}

p {
	font-size: 1.5em;
}

p::first-letter {
	color: #f65920;
}

h1::first-letter {
	color: #d62b2b;
	font-size: var(--fontSize-H1);
}

h2::first-letter {
	font-size: 1.7em;
	color: #ff9800;
	/* line-height: 2px; */
	padding-top: 22px;
}

a:link {
	color: #5c808e;
	text-decoration-line: none;
	/* list-style-type: circle; */
}
a:visited {
	color: #785c00;
	text-decoration-line: none;
	/* list-style-type: circle; */
}

a:hover {
	color: #cccccc;
}

.menu {
	grid-area: m;
	position: fixed;
	font-size: 1.3em;
}

ul {
	overflow: hidden;
	margin-left: 11px;
}

li {
	list-style-type: none;
	font-size: 1.3em;
	padding: 1px 22px 0.7em 0px;
}

@media (max-width: 769px) {
	body {
		font-size: 1em;
		padding: 0px 7px 0px 17px;

		margin: 0;
	}
}
